<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Check</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="container">
        <h1>Welcome to Diabetes Detection</h1>
        <p>Select Your Gender to Continue</p>
        <div class="buttons">
            <a href="{{ url_for('men') }}" class="btn male">Male</a>  
            <a href="{{ url_for('women') }}" class="btn female">Female</a>

    </div>
<script src="static/script.js" ></script>
</body>
</html>
